In [1]:
#Shishir Khanal
#01/18/2023
#For loop in Julia

In [2]:
for i in 1:4
    println(i^2)
end

1
4
9
16

In [3]:
for i in 1:4
    println("Another iteration in the loop.")
end

Another iteration in the loop.
Another iteration in the loop.
Another iteration in the loop.
Another iteration in the loop.

In [4]:
for k ∈ 1:4
    println(k^2)
end

1
4
9
16

In [5]:
for name ∈ ["Julia", "R", "Python", "C"]
    println(name)
end

Julia
R
Python
C

In [6]:
arr = rand(5:25, 5)

5-element Vector{Int64}:
 23
  6
 15
 23
 20

In [7]:
for i in 1:length(arr)
    println("$i. element is $(arr[i]).")
end

1. element is 23.
2. element is 6.
3. element is 15.
4. element is 23.
5. element is 20.

In [8]:
mat = rand(15:44, (3,2))

3×2 Matrix{Int64}:
 35  26
 29  44
 29  26

In [9]:
for row in 1:size(mat,1)
    for col in 1:size(mat,2)
        println("Row: $row, Column: $col, Value: $(mat[row, col])")
    end
end

Row: 1, Column: 1, Value: 35
Row: 1, Column: 2, Value: 26
Row: 2, Column: 1, Value: 29
Row: 2, Column: 2, Value: 44
Row: 3, Column: 1, Value: 29
Row: 3, Column: 2, Value: 26

In [10]:
for row in 1:size(mat,1), col in 1:size(mat,2)
    println("Row: $row, Column: $col, Value: $(mat[row, col])")
end

Row: 1, Column: 1, Value: 35
Row: 1, Column: 2, Value: 26
Row: 2, Column: 1, Value: 29
Row: 2, Column: 2, Value: 44
Row: 3, Column: 1, Value: 29
Row: 3, Column: 2, Value: 26

In [11]:
for row in 1:6
    for col in 1:4
        print((row, col))
    end
    println()
end

(1, 1)(1, 2)(1, 3)(1, 4)
(2, 1)(2, 2)(2, 3)(2, 4)
(3, 1)(3, 2)(3, 3)(3, 4)
(4, 1)(4, 2)(4, 3)(4, 4)
(5, 1)(5, 2)(5, 3)(5, 4)
(6, 1)(6, 2)(6, 3)(6, 4)

In [12]:
for row in 1:6, col in 1:4
    print((row, col))
    if col == 4
        println()
    end
end

(1, 1)(1, 2)(1, 3)(1, 4)
(2, 1)(2, 2)(2, 3)(2, 4)
(3, 1)(3, 2)(3, 3)(3, 4)
(4, 1)(4, 2)(4, 3)(4, 4)
(5, 1)(5, 2)(5, 3)(5, 4)
(6, 1)(6, 2)(6, 3)(6, 4)

In [13]:
names = ["Albert", "Marie", "Isaac", "Rosalind", "Richard"];
surnames = ["Einstein", "Curie", "Newton", "Franklin", "Feynman"];
birthyears = [1879, 1867, 1643, 1918];

In [15]:
for (name, surname, birthyear) ∈ zip(names, surnames, birthyears)
    println((name, surname, birthyear))
end

("Albert", "Einstein", 1879)
("Marie", "Curie", 1867)
("Isaac", "Newton", 1643)
("Rosalind", "Franklin", 1918)

In [16]:
d = Dict("a" => 10, "b" => 20, "c" => 30, "d" => 40)

Dict{String, Int64} with 4 entries:
  "c" => 30
  "b" => 20
  "a" => 10
  "d" => 40

In [17]:
for (key, val) in d
    println("Key is: $key, Value is: $val")
end

Key is: c, Value is: 30
Key is: b, Value is: 20
Key is: a, Value is: 10
Key is: d, Value is: 40

In [18]:
for item in d
    println("Key is: $(item.first), Value is: $(item.second)")
end

Key is: c, Value is: 30
Key is: b, Value is: 20
Key is: a, Value is: 10
Key is: d, Value is: 40

In [19]:
str = "Julia Language"
for c in str
    print("$c|")
end

J|u|l|i|a| |L|a|n|g|u|a|g|e|

In [20]:
file = "InputFile.txt"

"InputFile.txt"

In [21]:
for line in eachline(file)
    println(line)
end

For loop is the most common type of loop.
The other type of loop is the while loop.
Loops are very powerful and fast in Julia.

In [39]:
#Use Foor loop to find max number in an array
arr = rand(-1_000_000:1_000_000, 100);

In [40]:
maxnum = typemin(Int64)

-9223372036854775808

In [41]:
for num ∈ arr
    if num > maxnum
        maxnum = num
    end
end
println(maxnum)

963524

In [42]:
#Avg of numbers in array
sum = 0
n = 0
for num = arr
    sum += num
    n += 1
end
average = sum / n
println(average)

34984.46

In [43]:
arr

100-element Vector{Int64}:
  158536
  495302
  482759
 -126408
 -208289
  131526
 -101539
 -899714
 -176203
 -552500
  395159
   39090
 -872599
       ⋮
  381049
  772072
 -178148
  464952
 -307030
 -601714
 -227608
 -576144
 -783818
 -601594
 -268263
 -714277